.dz{
    width: 1280px;
    height: 780px;
    margin: 0 auto ;
    border: 2px solid cornflowerblue;
   /* font-size: 16px;*/
}
*{
    box-sizing: border-box;
    margin: 0;
}
.h1{
    background: #55B3B9;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 0 10px;
    width: 943.5px;
    height: 150px;
}
.h2{
    background: #C56060;
    width: 629px;
    height: 150px;
    margin: 10px 10px 10px 640px;
}
.h3{
    background: #8FC091;
    width: 943.5px;
    height: 150px;
    margin: 0 auto;
}
.h4{
    background: #8F86AF;
    width: 628px;
    height: 150px;
    margin: 10px;
}/*
.h1head{
    font-family: Roboto;
    font-size: 56px ;
    font-weight: bold;
   }
.h2head{
    font-family: Roboto;
    font-size: 42px;
}
.H2{
    font-size: 42px;
    font-family: Roboto;
    font-weight: bold;
}
.H3{
    color: rgba(34, 34, 34, 0.69);
    font-family: Sail;
    font-size: 28px;
    font-style: italic;
}
.h3_head{
    color: rgba(34, 34, 34, 0.62);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    text-transform: uppercase;
}
.h3-head{
    color: rgba(34, 34, 34, 0.62);
    text-align: center;
    font-size: 16px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.h2_head{
    color: rgba(46, 46, 46, 0.42);
    font-family: Roboto;
    font-size: 42px;
    font-weight: 800;
    text-decoration-line: line-through;
}
.del{
     color: rgba(46, 46, 46, 0.42);
     font-family: Sail;
     font-size: 28px;
     text-decoration-line:line-through;
 }*/
/*
div:nth-child(even){
    font-size: 2.2rem;
}
div:nth-child(odd){
    font-size:3.4rem;
}*/
.h1head{
    font-size: 1.8em;}
.del{
    font-size: 1.3em;
}
.h2_head ,.h2head ,.H2{
    font-size: 1.5em;
}
.dz{
    font-size: 24px;
}
